[submodule "GOA-homework2"]
	path = GOA-homework2
	url = https://github.com/solomoni161514/GOA-homework.git
[submodule "GOA-homework"]
	path = GOA-homework
	url = https://github.com/solomoni161514/GOA-homework.git
